<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link href="/styles/create.css" rel="stylesheet">
</head>
<body>

<div class="form_card">

  <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">

    <div class="input_container">
      <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      <label for="name">Name: </label>
      <input class="input_field" type="text" name="name" id="name" th:field="*{name}">
    </div>

    <div class="input_container">
      <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
      <label for="surname">Surname: </label>
      <input class="input_field" type="text" name="surname" id="surname" th:field="*{surname}">
    </div>

    <div class="input_container">
      <div class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
      <label for="age">Age: </label>
      <input class="input_field" type="text" name="age" id="age" th:field="*{age}">
    </div>

    <input class="submit_button" type="submit" value="update">

  </form>

</div>


</body>
</html>